@model CreateServiceDTO

@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Servis Icon'u</label>
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <span asp-validation-for="ServiceIcon" class="text-danger"></span>
    <br />

    <label>Servis Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />

    <label>Servis Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />

    <button type="submit" class="btn btn-primary">Hizmeti Ekle</button>
</form>

