@model List<ResultServiceDTO>

@{
    ViewBag.Title = "Hizmet Yönetim Paneli";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hizmet Başlığı</th>
        <th>Hizmetin Açıklaması</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService/" class="btn mb-1 btn-rounded btn-outline-dark">Yeni Hizmet Girişi Girişi</a>