@model UpdateServiceDTO

@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="ServiceId" />

    <label>Hizmet İcon'u</label>
    <input type="text" asp-for="ServiceIcon" class="form-control" />
    <br />

    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Servis Açıklaması</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />

    <button type="submit" class="btn btn-primary">Hizmet Güncelle</button>
</form>